.section-success {
  height: 100vh;

  img {
    width: 266px;
    height: 266px;
    margin-bottom: 12px;
  }

  h1 {
    font-size: 26px;
    font-weight: map-get($font-assistant, semibold);
  }

  p {
    font-size: 18px;
    font-weight: map-get($font-assistant, light);
    color: $gray-350;
  }
}
