<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Let's enjoy your trip with nomads" />
    <link rel="icon" href="../public/favicon.ico" />
    <title>Details</title>
  </head>
  <body>
    <navbar-details></navbar-details>

    <main>
      <section class="section-details-header"></section>
      <section class="section-details-content">
        <div class="container">
          <div class="row">
            <div class="col">
              <breadcrumb-details></breadcrumb-details>
            </div>
          </div>
          <div class="row gy-3">
            <div class="col-lg-8 pl-lg-0">
              <details-content></details-content>
            </div>
            <div class="col-lg-4 animation">
              <sidebar-details></sidebar-details>
              <div class="text-center join-container">
                <a
                  href="checkout.html"
                  class="btn btn-block btn-join-now mt-3 py-2"
                >
                  Join Now
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer-bar></footer-bar>
  </body>
</html>
