.section-footer {
  margin-top: 200px;

  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    row-gap: 30px;
    gap: 20px;

    .navbar-brand {
      font-size: 30px;
      font-weight: map-get($font-assistant, extrabold);
      margin-right: 0;
    }
  }

  h4 {
    font-size: 22px;
    font-weight: map-get($font-assistant, semibold);
    margin-bottom: 15px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
  }

  .social-media {
    a {
      margin-right: 20px;

      i {
        font-size: 20px;
      }
    }
  }

  a {
    text-decoration: none;
    color: $blue-500;
    font-size: 18px;
    font-weight: map-get($font-assistant, regular);
    margin-bottom: 8px;
  }

  .copyright {
    color: $gray-300;
    font-size: 18px;
    font-weight: map-get($font-assistant, light);
  }
}
