@import './typo';

.btn-login {
  background-color: map-get($colors, primary);
  color: map-get($colors, light);

  &:hover {
    background-color: map-get($colors, primary-hover);
    color: map-get($colors, light);
  }
}

.btn-get-started {
  background-color: map-get($colors, secondary);
  color: map-get($colors, light);

  &:hover {
    background-color: map-get($colors, secondary-hover);
    color: map-get($colors, light);
  }
}
