.btn-login {
  font-size: 20px;
  background-color: map-get($colors, primary);
  color: map-get($colors, light);

  &:hover {
    background-color: map-get($colors, primary-hover);
    color: map-get($colors, light);
  }
}

.btn-get-started,
.btn-travel-details {
  font-size: 20px;
  font-weight: map-get($font-assistant, semibold);
  background-color: map-get($colors, secondary);
  color: map-get($colors, light);

  &:hover {
    background-color: map-get($colors, secondary-hover);
    color: map-get($colors, light);
  }
}

.btn-need-help {
  font-size: 20px;
  font-weight: map-get($font-assistant, light);
  background-color: map-get($colors, bg-lighter);
  color: map-get($colors, bg-light);

  &:hover {
    background-color: map-get($colors, bg-lighter-hover);
    color: map-get($colors, bg-light);
  }
}
