@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

@import './colors';
@import './typo';
@import './buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: map-get($colors, light);
  font-family: 'Assistant', sans-serif;
  color: map-get($colors, primary);
}

.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-nav {
  .nav-item {
    .nav-link {
      color: map-get($colors, light);
      font-size: 20px;

      &.active {
        font-weight: map-get($font-assistant, bold);
        color: map-get($colors, light);
      }
    }
  }
}

header {
  padding: 180px 0 165px;
  margin-top: -66px;
  background-image: url('../../public/images/header.jpg');
  background-size: cover;

  h1,
  p {
    color: map-get($colors, light);
  }

  h1 {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: map-get($font-playfair, bold);
  }

  p {
    font-size: 22px;
  }
}

.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    background-color: map-get($colors, light);

    h2 {
      font-size: 30px;
      font-weight: map-get($font-assistant, semibold);
      margin: 0;
    }

    p {
      font-size: 20px;
      font-weight: map-get($font-assistant, light);
    }
  }
}

.section-popular {
  margin-top: -50px;
  margin-bottom: -210px;
  background-color: map-get($colors, bg-blue);

  .section-popular-heading {
    padding: 150px 0 276px;
    color: map-get($colors, light);

    h2 {
      font-size: 40px;
      font-weight: map-get($font-playfair, bold);
      font-family: 'Playfair Display', serif;
      margin-bottom: 12px;
    }

    p {
      font-size: 18px;
      font-weight: map-get($font-assistant, regular);
      margin: 0;
    }
  }
}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      color: map-get($colors, light);
      background-size: cover;
      border-radius: 8px;
      padding: 30px;
      margin-bottom: 20px;

      .travel-country {
        font-size: 18px;
        font-weight: map-get($font-assistant, regular);
      }

      .travel-location {
        font-size: 26px;
        font-weight: map-get($font-assistant, semibold);
      }
    }
  }
}

.section-networks {
  background-color: map-get($colors, light);
  margin-top: -190px;
  padding: 273px 0 100px;

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: map-get($font-playfair, bold);
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    font-weight: map-get($font-assistant, regular);
    margin: 0;
  }

  img {
    max-width: 100%;
  }
}

.section-testimonial-heading {
  min-height: 506px;
  padding-top: 50px;
  background: linear-gradient(#fff 0%, #f7f9ff 100%);

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: map-get($font-playfair, bold);
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    font-weight: map-get($font-assistant, regular);
    margin: 0;
  }
}

.section-testimonial-content {
  margin-top: -280px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 40px 20px 20px;
    border-radius: 8px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 380px;

      h3 {
        font-size: 22px;
        font-weight: map-get($font-assistant, semibold);
      }

      .testimonial {
        font-size: 26px;
        font-weight: map-get($font-assistant, light);
        color: map-get($colors, bg-grey);
      }
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }

    .trip-to {
      margin: 0;
      font-size: 22px;
      font-weight: map-get($font-assistant, regular);
      color: map-get($colors, bg-grey);
    }
  }
}

.section-newsletter {
  margin: 70px 0 100px;

  .section-newsletter-content {
    padding: 56px 0;
    background-color: map-get($colors, primary);
    border-radius: 8px;

    h2 {
      color: map-get($colors, light);
      font-size: 40px;
      font-weight: map-get($font-playfair, bold);
      font-family: 'Playfair Display', serif;
      margin-bottom: 12px;
    }

    p {
      color: map-get($colors, light);
      font-size: 18px;
      font-weight: map-get($font-assistant, regular);
      margin-bottom: 40px;
    }

    form {
      height: 60px;
      display: flex;
      position: relative;
      margin: 0 auto;
      align-items: center;

      input {
        width: 100%;
        height: 100%;
        padding: 8px 150px 8px 20px;
        outline: none;
        border: none;
        font-size: 18px;
        border-radius: 4px;
      }
    }
  }
}

.section-footer {
  h4 {
    font-size: 22px;
    font-weight: map-get($font-assistant, semibold);
    margin-bottom: 15px;
  }
  a {
    text-decoration: none;
    color: map-get($colors, primary);
    font-size: 18px;
    font-weight: map-get($font-assistant, regular);
    margin-bottom: 8px;
  }

  .copyright {
    color: map-get($colors, bg-light);
    font-size: 18px;
    font-weight: map-get($font-assistant, light);
  }
}

@media (min-width: 992px) {
  .section-newsletter-content {
    form {
      width: 50%;
    }
  }
}

@media (max-width: 576px) {
  header {
    h1 {
      font-size: 40px;
    }
  }
}

@media (max-width: 992px) {
  .section-newsletter-content {
    form {
      width: 90%;
    }
  }
}
