@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

@import './colors';
@import './typo';
@import './buttons';

body {
  background-color: map-get($colors, light);
  font-family: 'Assistant', sans-serif;
  color: map-get($colors, primary);
}

.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-nav {
  .nav-item {
    .nav-link {
      color: map-get($colors, light);
      font-size: 20px;

      &.active {
        font-weight: map-get($font-assistant, bold);
        color: map-get($colors, light);
      }
    }
  }
}

header {
  padding: 180px 0 165px;
  margin-top: -66px;
  background-image: url('../../public/images/header.jpg');
  background-size: cover;

  h1,
  p {
    color: map-get($colors, light);
  }

  h1 {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: map-get($font-playfair, bold);
  }

  p {
    font-size: 22px;
  }
}

.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    background-color: map-get($colors, light);

    h2 {
      font-size: 30px;
      font-weight: map-get($font-assistant, semibold);
      margin: 0;
    }

    p {
      font-size: 20px;
      font-weight: map-get($font-assistant, light);
    }
  }
}

.section-popular {
  margin-top: -50px;
  margin-bottom: -210px;
  background-color: map-get($colors, bg-blue);

  .section-popular-heading {
    padding: 150px 0 276px;
    color: map-get($colors, light);

    h2 {
      font-size: 40px;
      font-weight: map-get($font-playfair, bold);
      font-family: 'Playfair Display', serif;
      margin-bottom: 12px;
    }

    p {
      font-size: 18px;
      font-weight: map-get($font-assistant, regular);
      margin: 0;
    }
  }
}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      color: map-get($colors, light);
      background-size: cover;
      border-radius: 8px;
      padding: 30px;
      margin-bottom: 20px;

      .travel-country {
        font-size: 18px;
        font-weight: map-get($font-assistant, regular);
      }

      .travel-location {
        font-size: 26px;
        font-weight: map-get($font-assistant, semibold);
      }
    }
  }
}

.section-networks {
  background-color: map-get($colors, light);
  margin-top: -190px;
  padding: 273px 0 100px;

  h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: map-get($font-playfair, bold);
    margin-bottom: 12px;
  }

  p {
    font-size: 18px;
    font-weight: map-get($font-assistant, regular);
    margin: 0;
  }

  img {
    max-width: 100%;
  }
}
